<h1>New Tweet</h1>

<%= form_with(model: @tweet, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :message %>
    <%= form.text_area :message, class: "form-control", placeholder: "What's happening?" %>
  </div>

  <% if @tweet.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h5><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h5>

      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.submit class: "btn btn-primary", value: "Tweet!" %>
<% end %>
